$background-color: #fcfcec;
$text-color: #141414;
$shadow-color: #504f54;
$emphasis-color: #a6b1e1;

$background-element: repeating-linear-gradient(
    0deg,
    transparent .1px,
    $background-color 4px,
    $text-color 2px,
    $emphasis-color 1px,
    $shadow-color 2px,
    $background-color 4px
);


body {
    background: $background-element;
    color: $text-color;
}