header {
    text-align: center;
   font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 100%;

    ul {
        padding-left: 0;
        list-style-type: none;
        list-style-position: inside;
    }
   
    svg {
    height: 0.7%;
    width: 0.7%;
    margin: auto;
    fill: #a6b1e1;
    }
}