header {
    h1 {
        font-family: "Rosarivo", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 750%;
        text-align: center;
        line-height: 0.25;

        @media (max-width: 658px) {
            line-height: 1;
        }
    }
    h2 {
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 150%;
    }
    p{
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 75%;
    }
}