@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
body {
  background: repeating-linear-gradient(0deg, transparent 0.1px, #fcfcec 4px, #141414 2px, #a6b1e1 1px, #504f54 2px, #fcfcec 4px);
  color: #141414;
}

header h1 {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1000%;
  text-align: center;
  line-height: 0.25;
}
@media (max-width: 867px) {
  header h1 {
    line-height: 1;
  }
}
header h2 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 150%;
}
header p {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 75%;
}

header {
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 100%;
}
header ul {
  padding-left: 0;
  list-style-type: none;
  list-style-position: inside;
}
header svg {
  height: 0.7%;
  width: 0.7%;
  margin: auto;
  fill: #a6b1e1;
}

a {
  color: #a6b1e1;
  text-decoration: none;
}

nav {
  padding: 2.5%;
}
nav ul {
  border: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  font-family: "Source Sans 3", sans-serif;
}
nav ul li {
  margin: 0.5em;
  font-size: 2em;
}

main {
  font-family: "Source Sans 3", sans-serif;
}
main > .container {
  width: 95%;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  border-bottom: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
}
main article#about {
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
  grid-column: 1/-1;
  border: 0.25em solid #141414;
}
@media screen and (min-width: 550px) {
  main article#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
main article#guidelines {
  border: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
  grid-column: 1/-1;
}
@media screen and (min-width: 550px) {
  main article#guidelines {
    column-count: 3;
    padding: 1em;
  }
}
main article#contribute {
  grid-column: 1/-1;
}
@media screen and (min-width: 550px) {
  main article#contribute {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
main article#contribute section {
  border: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
}
main article#contribute #files {
  grid-column: 1/-1;
  width: 100%;
}
main article#contribute #files div {
  border: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
}
@media screen and (min-width: 550px) {
  main article#contribute #files div {
    flex-flow: row wrap;
  }
}
main article#contribute #files div h3::after {
  content: ":";
}
main article#contribute #files div a {
  font-size: 1.5em;
}
main article .container {
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  margin: 0.5em auto;
}
main blockquote {
  border: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
  padding: 1em;
}

aside {
  font-family: "Source Sans 3", sans-serif;
  border: 0.25em solid #141414;
  border-image: repeating-linear-gradient(0deg, transparent 0.1px, #141414 0.1px, #504f54 0.1px, #141414 0.2px) 1;
  padding: 1em;
  margin: 1em auto;
  width: 50%;
}

.page-footer {
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 100%;
}
.page-footer ul {
  padding-left: 0;
  list-style-type: none;
  list-style-position: inside;
}
.page-footer svg {
  height: 0.7%;
  width: 0.7%;
  margin: auto;
  fill: #a6b1e1;
}

/*# sourceMappingURL=style.css.map */
